<ul>
    <!--TODO why not wrapped by a relative div?-->
    <li ng-repeat="obj in grid.data()" thumb-grid-content>
        <a href="" class="og-grid-thumb" ng-click="thumbClick()">
            <div ng-class="{well: true, selected: $index == grid.selected()}">
                <img src="" class="baseimg" ng-src="{{grid.thumbnailUrl(obj)}}" title="{{grid.name(obj)}}">
                <label title="{{grid.name(obj)}}">
                    {{grid.name(obj)}}
                </label>
            </div>
        </a>

        <div class="og-expander">
            <div class="og-expander-inner">
                <span class="close-button" ng-click="close()"></span>
                <div class="og-details" ng-include="partialNow"></div>
            </div>
        </div>
    </li>
</ul>