body {
    width: 800px;
    margin: auto;

    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Times New Roman", serif;
    color: #666666;
}

h1 {
    font-size: 40px;
    margin-bottom: 60px;
    color: #000;
    color: rgb(42, 207, 238);
    display: block;
}

h1:before {
    content: '';
    display: inline-block;
    left: 0;
    right: 0;
    top: 25px;
    bottom: -10px;
    border: rgb(42, 207, 238) 1px solid;
    background: rgba(42, 207, 238, .2);
    z-index: -1;
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-right: 20px;
    vertical-align: top;
}

::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb { background: #c6c6c6; }

.cases > div {
    position: relative;
}

.cases > div:not(:first-child) {
    margin-top: 60px;
}

.cases .actions button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 29px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(102, 102, 102);
    border: 1px rgb(222, 222, 222) solid;
    -webkit-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -o-transition: border .3s ease;
    transition: border .3s ease;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cases .actions button:hover {
    border: 1px rgb(42, 207, 238) solid;
}

.cases .actions, .events {
    margin-top: 60px;
    padding: 0;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

.cases .actions {
    border-right: #c6c6c6 1px solid;
    width: 30%;
}

.cases .actions:before, .events:before {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 20px;
    color: #c6c6c6;
    width: 100%;
    display: block;
}

.cases .actions:before {
    content: 'Actions';
}

.cases .actions button {
    margin-left: 0;
    height: 40px;
    width: 60px;
    font-size: 14px;
    cursor: pointer;
}

.cases .events {
    margin-left: 50px;
}

.cases .events:before {
    content: 'Events';
}

.cases .events span {
    padding-left: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* controls */

.context {
    display: inline-block;
    /* size and position when expanded */
    width: 300px;
    height: 300px;
    margin-top: -50px;
    margin-left: 0;
}

.context-container {
    width: 350px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
}

.context .toggle.expanded {
    background-color: #fffdec;
    border: #c6c6c6 1px solid;
}

.context .action {
    width: 50px;
    height: 50px;

    border: rgb(42, 207, 238) 1px solid;
}

.context .small {
    width: 25px;
    height: 25px;
}

.grid-container {
    height: 600px;
    width: 680px;
    overflow-y: auto;
    overflow-x: visible;
    /* must be relative or absolute */
    position: relative;
    left: -10px;
    padding-left: 10px;
}

.grid-details span {
    margin-left: 260px;
    margin-top: 90px;
    color: #999999;
    display: block;
}

.actions.grid > div {
    width: 150px;
}

.actions.grid button {
    width: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
}
